/**
* _b-link-text.scss
*
*
* These are the styles for the link text.
*
* Index
* - Block links text
*   |- Imagen icono
*   |- Link text
*   |- Borde inferior
*
*/
// /* ------| Block links text |----- */
#block-linkstext {
  width: 50%;
  margin-left: 10%;
  .field__items {
    display: flex;
    flex-direction: row;
    margin: 10px 2rem 0;
    height: 32px;
  }
  .paragraph--type--links-top {
    display: flex;
    align-items: center;
    .field--name-field {
      //Imagen icono
     &-img-icono {
      height: 18px;
      width: 20px;
      margin-left: 19px;
     }
     //Link text
     &-link {
      margin: 3px 0 0 5px;
      height: auto;
      a {
        text-transform: capitalize;
        color: #616569;
      }
     }
    }
  }
}
//Borde inferior
.highlighted {
  .clearfix {
    border-bottom: 1px solid #ebebeb;
  }
}